/* you will add css rules for element selectors and IDs */


/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #000;
}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

h1{
    color: #fff;
    font-size: 65px;
}
header{
display: flex;
justify-content: space-between;
background:#5A5A5A;
padding: .6rem;
margin: 0;
align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 50px;
    text-transform: capitalize;
}

nav ul li {
    margin:0;
    margin-left: 5rem;
    padding: .6rem .1rem;
}

/* might need to come back here*/
article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cougar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD5AE ;
    margin: 0;
    padding: 2rem;
   
}

#lion {
    display: flex;
    background-color: #FFBD82 ;
    justify-content: center;
    margin: 0;
    padding: 2rem;
    align-items: center;
    
}
#tiger{
    display: flex;
    justify-content: center;
    background-color: #B26219;
    margin: 0;
    padding: 2rem;
}
.photo {
    display: flex;
    flex-direction: column;
    padding: .6rem;
    justify-content: center;
    max-width: 50%;
    min-width: 50%;
}

section{
    max-width: 50%;
    max-height: 50%;
    min-height: 50%;
}
.text {
flex-direction: column;
display: flex;
font-size: medium;
line-height: 2rem;
}

h2 {
text-align: left;
}

footer{
background-color: #5A5A5A;
color: #fff;
text-align: center;
margin: 0;
padding: .6rem;
}

/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */

a {
    text-decoration: none;
    color: #379CB2;
    
}
a:hover {
    text-decoration: none;
    color: #82E8FF;
}
